name: CI Calculadora

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ejecutar app (smoke test)
        run: |
          python -c "from calculator import sumar; assert sumar(2,3)==5"
          python -c "from calculator import dividir; assert dividir(10,2)==5"